body
{
	font-family: Tahoma
	margin: 30px 20px 30px 20px;
}

h1
{
	font-size: 50px;
	font-weight: bold;
    background-color: green;
    color: white;
}

h2
{
	font-size: 35px;
	font-style: italic;
    background-color: green;
    color: white;
}

p
{
	text-align: justify;
	font-size: 20px;
}

.turmadochaves
{
	text-decoration: underline;
	font-style: italic;
	text-align: right;
	font-size: 15px;
}

.madruga
{
	color: blue;
}

.chiquinha
{
	color: green;
}

.quico
{
	color: red;
}

.chiquinhatwo
{
	border-width: thick;

    border-style: ridge;

    border-color: green;
}

.madrugatwo
{
	border-width: thick;

    border-style: ridge;

    border-color: blue;
}

.quicotwo
{
	border-width: thick;

    border-style: ridge;

    border-color: red;
}